html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  /* font-family: 'Inika', serif; */
  font-family: 'Inter', sans-serif;
}

main {
  flex: 1 1 auto;
  /* background-color: navajowhite; */
}

.header,
.welcome,
.services,
.contacts {
  background-color: #EDF2EC;
}

/*------------------------- header ---------------------*/


.container {
  max-width: 1220px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 134px;

  /* display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem; */
}

.logo {
  display: block;
  margin: 0;
  margin-right: 20px;
  text-decoration: none;
}

.logo__figure {
  display: flex;
  align-items: baseline;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.logo__caption {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
}

.navigation {
  min-width: 37%;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.nav__item {
  color: #010201;
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}

.nav__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 3.125rem;
  text-decoration: none;
  color: #010201;
}

.nav__link:hover, 
.nav__link:focus {
  transition: 0.5s;
  color: #E06733;
}

.nav__link-active {
  font-weight: 700;
  color: #E06733;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 668px;
    min-height: 117px;
  }

  .logo {
    margin-right: 1rem;
  }

  .navigation {
    min-width: 68%;
  }

}

@media screen and (320px<=width<=380px) {
  .container {
    max-width: 330px;
    min-height: 96px;
  }

  .nav {
    display: none;
  }
}

/*------------- WELCOME -----------------------------*/

.welcome__container {
  display: flex;
  justify-content: space-between;
}

.welcome__content {
  display: flex;
  order: 2;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 8%;
  padding-bottom: 8%;
  /* background: url(../img/leafs_5pcs.png) no-repeat left center; */
}

.welcome__title {
  margin: 0;
  padding: 0;
  max-width: 72%;
  font-size: 45px;
  font-weight: 700;
  line-height: 3.125rem;
  color: #717171;
}

.welcome__title-red {
  color: #499A18;
}

.welcome__text {
  margin: 0;
  max-width: 72%;
  margin-top: 5.5%;
  font-size: 20px;
  line-height: 2.2rem;
  color: #636060;
}

.button {
  padding: 1% 2%;
  border: 2px solid #E06733;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  transition: 0.5s;
  background-color: #E06733;
  color: #ffffff;
}

.welcome__button {
  margin-top: 6%; 
  margin-right: 52%;
  padding: 1.5% 3%;
  text-transform: uppercase;
}

.welcome__img {
  display: block;
  object-position: -11px 52px;
  object-fit: contain;
  max-width: 38%;
}

@media screen and (max-width: 768px) {
  .welcome__content {
    padding-top: 6%;
    padding-bottom: 10.5%;
    align-items: flex-start;
    order: 0;
  }

  .welcome__title {
    max-width: 100%;
    font-size: 35px;
  }

  .button {
    padding: 0.7rem 1.6rem;
    border-radius: 5px;
  }

  .welcome__text {
    margin-top: 8%;
    max-width: 90%;
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .welcome__button {
    margin-top: 9%;
  }

  .welcome__img {
    max-width: 42%;
    object-position: 0px 36px;
    object-fit: scale-down;
  }
}

@media screen and (max-width: 450px) {
  .welcome__img {
    display: none;
  }
}

@media screen and (320px<=width<=380px) {
  .welcome__content {
    padding-top: 8%;
    padding-bottom: 7%;
    width: 100%;
    /* background: none; */
  }

  .welcome__title {
    width: 100%;
    font-size: 25px;
    line-height: 35px;
  }

  .welcome__text {
    max-width: 100%;
    margin-top: 6%;
    font-size: 16px;
    line-height: 25px;
  }

  .welcome__button {
    margin-top: 8%;
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 1.5% 5%;
    border-radius: 10px;
    font-size: 10px;
    line-height: 20px;
  }
}

/*------------- ABOUT -----------------------------*/

/* .container-white {
  background-color: #ffffff;
} */

.about {
  /* padding-top: 10rem;
  padding-bottom: 9.5rem; */
  /* background-color: #ffffff;
  background-image: url(../img/houseplant1.png);
  background-repeat: no-repeat;
  background-position: right center; */
}

.about__container {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
  padding-bottom: 8%;
}

.about__content {
  padding-top: 7%;
}

.section-title {
  margin: 0;
  font-family: 'Inika', serif;
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 400;
  color: #E06733;
}

.about__title {
  max-width: 70%;
}

.about__text {
  max-width: 75%;
  margin-top: 4.3%;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #636060;
}

.about__img {
  display: block;
  object-fit: scale-down;
  max-width: 39%;
  object-position: 0px 9px;
}

@media screen and (max-width: 768px) {
  .about__container {
    flex-direction: column;
    padding-top: 5.5%;
    padding-bottom: 13%;
  }

  .about__content {
    padding-top: 0;
  }

  .section-title {
    font-size: 35px;
    line-height: 2.85rem;
  }

  .about__title {
    margin: 0 auto;
    text-align: center;
    text-indent: 0;
  }

  .about__text {
    margin-top: 8%;
    max-width: 100%;
  }

  .about__img {
    margin: 0 auto;
    margin-top: 8%;
    object-position: 0px 4px;
  }
}

@media screen and (320px<=width<=380px) {
  .about__container {
    padding-top: 8.5%;
    padding-bottom: 7%;
  }

  .about__title {
    max-width: 100%;
    font-size: 1.56rem;
    line-height: 2rem;
    text-align: center;
  }

  .about__text {
    margin-top: 4.5%;
    font-size: 0.93rem;
    line-height: 1.56rem;
  }

  .about__img {
    max-width: 45%;
    margin-top: 0;
    object-position: center bottom;
  }
}

/* ------- SERVICES --------------------------------- */
.services__container {
  padding-top: 3%;
  padding-bottom: 5.5%;
}

.services__title {
  display: inline-block;
  margin-right: 11%;
  width: 25%;
}

.services__button {

  margin-bottom: 1.5%;
  width: 9%;
  vertical-align: text-bottom;
  border-radius: 5px;
  font-size: 20px;
  color: #E06733;
}

.services__button:not(:last-of-type) {
  margin-right: 3%;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 6.5%;
  padding: 0;
  list-style: none;
}

.services__item {
  display: block;
  margin-bottom: 16%;
  padding-bottom: 10%;
  /* width: 23%; */
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  text-decoration: none;
}

.services__item:hover,
.services__item:focus {
  transition: 0.5s;
  border: 1px solid #E06733;
}

.services__figure {
  margin: 0;
  padding: 0;
}

.services__caption {
  margin-top: 2%;
  /* width: 100%; */
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
  color: #E06733;
}

.services__text {
  display: block;
  margin: 0;
  margin-top: 4%;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.25rem;
  color: #717171;
}


@media screen and (max-width: 768px) {
  .services__container {
    padding-top: 7.5%;
    padding-bottom: 4.5%;
  }

  .services__title {
    display: block;
    width: 40%;
  }

  .services__button {
    margin: 6% 0 0 0;
    width: 16%;
  }

  .services__button:not(:last-of-type) {
    margin-right: 5%;
  }

  .services__item {
    max-width: 280px;
    margin-bottom: 13%;
    padding-bottom: 3%;
  }

  .services__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .services__caption {
    margin-top: 0.4rem;
  }

  .services__text {
    margin: 0.625rem auto;
    width: 12.5rem;
  }
}

@media screen and (320px<=width<=380px) {
  .services__container {
    padding-top: 8.5%;
    padding-bottom: 13%;
  }

  .services__title {
    min-width: 60%;
    font-size: 1.56rem;
    line-height: 2rem;
  }

  .services__button {
    width: 20%;
    margin-top: 2%;
    padding: 0.5rem 1.6rem;
    font-size: 0.93rem;
    line-height: 1.25rem;
  }

  .services__button:not(:last-of-type) {
    margin-right: 1%;
    margin-top: 11%;
  }

  .services__list {
    width: 85%;
    margin: 0 auto;
    margin-top: 12%;
  }

  .services__item-last{
    margin-bottom: 0%;
  }

  .services__img {
    border-radius:  20px 20px 0 0;
  }

  .services__caption {
    margin-top: 0;
  }
}

/* --------   PRICES  ----------------------------- */

.prices__container {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 8rem;
}

.prices__block,
.prices__contact {
  min-width: 40%;
}

.contact__block {
  width: 50%;
}

.prices__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
}

.prices__form {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin-top: 12.5%;
  padding: 7% 3% 7% 8%;
  width: 56%;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.prices__label {
  position: relative;
  margin-bottom: 10%;
  margin-right: 8%;
  padding: 6% 2% 6% 16%;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  background-color: #EDF2EC;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
}

.prices__label::after {
  content: '';
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url(../img/svg/arrow_down.svg);
  top: 32%;
  right: 16%;
}

.prices__label:last-child {
  margin-bottom: 0;
}

.prices__input {
  display: none;
}

.prices__contact {
  /* width: 28.25rem; */
  background: url(../img/leafs_4pcs.png) no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.prices__title-contact {
  width: 65%;
  margin: 0;
  margin-left: auto;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.prices__title-red {
  color: #499A18;
}

.prices__button {
  margin-top: 5%;
  padding: 1.5% 3.5%;
  float: right;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
  background-color: #ffffff;
  color: #E06733;
}

@media screen and (max-width: 768px) {
  .prices__container {
    padding-top: 5.5%;
    padding-bottom: 0;
  }

  .prices__block {
    width: 37%;
  }

  .prices__title {
    padding-left: 5%;
    line-height: 2.625rem;
  }

  .prices__form {
    margin-top: 21%;
    width: 100%;
    padding: 12% 8% 12% 16%;
  }

  .prices__label {
    padding: 6% 0 6% 14%;
    margin-bottom: 11%;
  }

  .prices__contact {
    padding-bottom: 44.5%;
    background-position-y: 77%;
    background-position-x: 105%;
  }

  .prices__title-contact {
    width: 85%;
    padding-top: 25%;
    font-size: 1.56rem;
    line-height: 2.1rem;
  }

  .prices__button {
    margin-top: 7%;
    padding: 3% 6%;
  }
}

@media screen and (320px<=width<=380px) {
  .prices__container {
    flex-direction: column;
    padding-bottom: 10.5%;
  }

  .prices__block {
    width: 100%;
  }

  .prices__title {
    padding: 0;
    font-size: 1.56rem;
    line-height: 1.875rem;
    text-align: center;
  }

  .prices__form {
    padding: 8% 4% 8% 6%;
    margin: 0 auto;
    margin-top: 12%;
    width: 57%;
  }

  .prices__label {
    margin-bottom: 5%;
    margin-right: 4%;
    padding: 9% 0% 9% 17%;
    font-size: 0.93rem;
    line-height: 1.25rem;
    color: #000000;
  }

  .prices__label::after {
    top: 36%;
    right: 21%;
  }

  .prices__contact {
    max-width: 100%;
    padding-bottom: 0;
  }

  .prices__title-contact {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 6%;
    font-size: 1.25rem;
    line-height: 2.18rem;
    text-align: center;
  }

  .prices__button {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 6%;
    padding: 2% 6%;
    font-size: 0.93rem;
    line-height: 1.25rem;
  }
}

/* ------------  CONTACTS ------------------------ */

.contacts__container {
  padding-top: 4.5%;
  padding-bottom: 26.8%;
  background: url(../img/contact_woman1.png) no-repeat;
  background-position-x: 1.5%;
  background-position-y: bottom;
}

.contacts__title {
  font-family: 'Inika', serif;
  text-align: center;
  font-weight: 700;
  line-height: 3.125rem;
  color: #499A18;
}

.contacts__form {
  margin-top: 3%;
  /* margin-bottom: 29%; */
  float: right;
  width: 37%;
}

.contacts__label {
  position: relative;
  display: block;
  /* margin-bottom: 78%; */
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 1.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  background-color: #D6E7D2;
  /* background-color: #C1E698; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #717171;
  cursor: pointer;
}

.contacts__label::after {
  content: '';
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url(../img/svg/accordion_btn.svg);
  top: 17px;
  right: 35px;
}

.contacts__input {
  display: none;
}

.cities {
  transition: 0.5s;
  display: none;
}

.cities__item {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  border-bottom: 1px solid #E9D9D9;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #499A18;
}

.cities__item:first-of-type {
  margin-top: 0;
}

.cities__item:hover {
  transition: 0.5s;
  color: #717171;
  cursor: pointer;
  border-color: #717171;
}

.contacts__input:checked ~ .contacts__label {
  background-color: #C1E698;
  box-shadow: none;
}

.contacts__input:checked + .contacts__label::after {
  transition: 0.5s;
  transform: rotate(180deg);
  filter: brightness(1.2);
}

.contacts__input:checked ~ .cities {
  transition: 0.5s;
  position: absolute;
  display: block;
  background-color: #DCE9D9;
  width: 33%;
  padding: 2% 0% 2% 1%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .contacts__container {
    padding-top: 5%;
    padding-bottom: 65%;
    background-size: 200px 248px;
    background-position-x: center;
    background-position-y: bottom;
  }

  .contacts__title {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .contacts__form {
    float: none;
    margin: 15% auto 0;
    width: 67%;
  }

  .contacts__label {
    display: block;
    padding-left: 5%;
    text-align: left;
  }

  .contacts__input:checked ~ .cities {
    transition: 0.5s;
    width: 57.5%;
  }
}

@media screen and (320px<=width<=380px) {
  .contacts__container {
    padding-top: 6%;
    padding-bottom: 67%;
    background-size: 100px 124px;
  }

  .contacts__title {
    font-size: 1.56rem;
    line-height: 2rem;
  }

  .contacts__form {
    margin-top: 24%;
    width: 91%;
  }

  .contacts__label {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #D6E7D2;
  }

  .contacts__label::after {
    top: 1rem;
    right: 1.43rem;
  }

  .contacts__input:checked ~ .cities {
    position: relative;
    width: 99%;
  }
}

/* ----------FOOTER   ---------------- */

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
}

.footer__data {
  order: 1;
  display: flex;
  justify-content: space-between;
  width: 14%;
}

.footer__copy,
.footer__year {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.footer__link-git {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration: none;
  color: #000000;
}

.footer__link-git:hover,
.footer__link-git:focus {
  transition: 0.5s;
  color: #E06733;
}

.footer__title {
  order: 2;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3.125rem;
  
}

.footer__list {
  order: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 15.5%;
  list-style: none;
}

.footer__link {
  display: block;
  width: 2rem;
  height: 2rem;
}

.footer__link-inst {
  background: url(../img/svg/instagram.svg) center no-repeat;
}

.footer__link-face {
  background: url(../img/svg/facebook.svg) center no-repeat;
}

.footer__link-twi {
  background: url(../img/svg/twitter.svg) center no-repeat;
}

.footer__link-pint {
  background: url(../img/svg/pinterest.svg) center no-repeat;
}

@media screen and (max-width: 768px) {

  .footer__container {
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
  }

  .footer__title {
    line-height: 1.5rem;
  }

  .footer__data {
    width: 26%;
  }

  .footer__list {
    width: 28%;
    padding-top: 4%;
  }
}

@media screen and (320px<=width<=380px) {
  
  .footer__container {
    padding-top: 3%;
  }

  .footer__title {
    line-height: 1.875rem;
  }

  .footer__data {
    width: 53%;
  }

  .footer__list {
    width: 58%;
    padding-top: 2%;
  }
}


