html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  /* font-family: 'Inika', serif; */
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 6%;
  background-color: #EDF2EC;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  padding-bottom: 4%;
}

.logo {
  display: block;
  margin: 0;
  text-decoration: none;
}

.logo__figure {
  display: flex;
  align-items: baseline;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.logo__caption {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  padding: 0 0 0 43px;
  color: #010201;
}

.nav__item:first-child {
  padding-left: 0px;
}

.nav__link {
  display: block;
  /* margin-right: 46px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  color: #010201;
}

.nav__link:hover, 
.nav__link:focus {
  transition: 0.5s;
  color: #E06733;
}

.nav__link-active {
  font-weight: 700;
  color: #E06733;
}

.main {
  flex: 1 1 auto;
  /* background-color: navajowhite; */
}

.welcome {
  padding-top: 8%;
  padding-bottom: 7.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: url(../img/leafs_5pcs.png) no-repeat left center;
}

.welcome__title {
  margin: 0;
  padding: 0;
  width: 45%;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #717171;
}

.welcome__title-red {
  color: #499A18;
}

.welcome__text {
  margin: 0;
  margin-top: 42px;
  width: 45%;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.button {
  padding: 1% 2%;
  border: 2px solid #E06733;
  border-radius: 10px;
  cursor: pointer;

}

.button:hover,
.button:focus {
  transition: 0.5s;
  background-color: #E06733;
  color: #ffffff;
}

.welcome__button {
  margin-top: 4%;
  margin-right: 32%;
  text-transform: uppercase;
}

.container-white {
  background-color: #ffffff;
}

.about {
  padding-top: 13%;
  padding-bottom: 12.5%;
  background-color: #ffffff;
  background-image: url(../img/houseplant1.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.section-title {
  margin: 0;
  font-family: 'Inika', serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #E06733;
}

.about__title {
  width: 41%;
}

.about__text {
  width: 50%;
  margin-top: 3.3%;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.services__container {
  padding-top: 2.2%;
  padding-bottom: 3.5%;
}

.services__title {
  display: inline-block;
  margin-right: 11%;
  width: 25%;
}

.services__button {
  margin-right: 2.5%;
  width: 13.5%;
  vertical-align: text-bottom;
  border-radius: 5px;
  font-size: 20px;
  color: #E06733;
}

.services__button-no-margin {
  margin-right: 0;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 6.5%;
  padding: 0;
  list-style: none;
}

.services__item {
  display: block;
  margin-bottom: 16%;
  padding-bottom: 12%;
  /* width: 23%; */
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 20px 20px;
  text-decoration: none;
}

.services__item:hover,
.services__item:focus {
  transition: 0.5s;
  border: 1px solid #E06733;
}

.services__figure {
  margin: 0;
  padding: 0;
}

.services__caption {
  margin-top: 2%;
  /* width: 100%; */
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #E06733;
}

.services__text {
  display: block;
  margin: 0;
  margin-top: 4%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  color: #717171;
}

.prices__container {
  padding-top: 2%;
  padding-bottom: 6.8%;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.prices__block {
  width: 50%;
}

.contact__block {
  width: 50%;
}

.prices__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
}

.prices__form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 6.5% 7% 4% 6%;
  width: 54%;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.prices__label {
  position: relative;
  margin-bottom: 14%;
  padding: 5% 1% 5% 15%;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  background-color: #EDF2EC;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
}

.prices__label::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/arrow_down.svg);
  top: 17px;
  right: 40px;
}

.prices__label:last-child {
  margin-bottom: 0;
}

.prices__input {
  display: none;
}

.prices__contact {
  width: 40%;
  background: url(../img/leafs_4pcs.png) no-repeat;
  background-position-y: 109%;
  background-position-x: 105%;
}

.prices__title-contact {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.prices__title-red {
  color: #499A18;
}

.prices__button {
  margin-top: 8%;
  padding: 2% 5%;
  float: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;
  color: #E06733;
}

.contacts__container {
  padding-top: 3%;
}

.contacts {
  /* padding-top: 1%; */
  /* min-height: 500px; */
  /* background: url(../img/contact_woman1.png) left/ contain no-repeat; */
  padding-bottom: 29.5%;
  background: url(../img/contact_woman1.png) no-repeat;
  background-position-x: -0.5%;;
}

.contacts__title {
  font-family: 'Inika', serif;
  text-align: center;
  font-weight: 700;
  line-height: 52px;
  color: #499A18;
}

.contacts__form {
  margin-top: 3%;
  text-align: right;
}

.contacts__label {
  position: relative;
  padding: 1% 32% 1% 2%;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  background-color: #D6E7D2;
  /* background-color: #C1E698; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #717171;
  cursor: pointer;
}

.contacts__label::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/arrow_down.svg);
  top: 17px;
  right: 35px;
}

.cities {
  display: none;
}

.contacts__input {
  /* display: none; */
  visibility: hidden;
}

.cities__item {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  border-bottom: 1px solid #E9D9D9;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #499A18;
}

.cities__item:hover {
  color: #717171;
  cursor: pointer;
}

.contacts__input:checked + .cities {
  position: absolute;
  display: block;
  background-color: #DCE9D9;
  width: 24%;
  right: 19%;
  padding: 2%;
  text-align: left;
  /* background-color: blanchedalmond; */
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 2.2%;
  padding-bottom: 2.5%;
  background-color: #ffffff;
}

.footer__data {
  order: 1;
  display: flex;
  justify-content: space-between;
  width: 14%;
}

.footer__copy,
.footer__year {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

.footer__link-git {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  color: #000000;
}

.footer__link-git:hover,
.footer__link-git:focus {
  transition: 0.5s;
  color: #E06733;
}

.footer__title {
  order: 2;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  
}

.footer__list {
  order: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 15.5%;
  list-style: none;
}

.footer__link {
  display: block;
  width: 32px;
  height: 32px;
}

.footer__link-inst {
  background: url(../img/svg/instagram.svg) center no-repeat;
}

.footer__link-face {
  background: url(../img/svg/facebook.svg) center no-repeat;
}

.footer__link-twi {
  background: url(../img/svg/twitter.svg) center no-repeat;
}

.footer__link-pint {
  background: url(../img/svg/pinterest.svg) center no-repeat;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 6.5%;
  }

  .header__container {
    padding-top: 4.55%;
    padding-bottom: 4.55%;
  }

  .logo {
    margin-top: 1%;
  }

  .welcome {
    padding-top: 6%;
    padding-bottom: 10.5%;
    align-items: flex-start;
    background-position: right;
    background-size: 280px 255px;
    background-position-y: 26%;
  }

  .welcome__title {
    width: 51%;
    font-size: 35px;
  }
  .button {
    padding: 1.5% 4%;
    border-radius: 5px;
  }

  .welcome__text {
    margin-top: 4%;
    width: 50%;
    font-style: 16px;
    line-height: 25px;
    font-weight: 400;
  }

  .welcome__button {
    margin-top: 2%;
  }

  .about {
    padding-top: 6%;
    padding-bottom: 63%;
    background-position: center;
    background-size: 250px 258px;
    background-position-y: 429px;
  }

  .section-title {
    font-size: 35px;
    line-height: 45.6px;
  }

  .about__title {
    width: 56%;
    margin: 0 auto;
    text-indent: 6%;
  }

  .about__text {
    margin-top: 7.3%;
    width: 100%;
  }

  .services__container {
    padding-top: 7.5%;
    padding-bottom: 5%;
  }

  .services__title {
    display: block;
    width: 58%;
  }

  .services__button {
    margin-top: 7%;
    margin-right: 6%;
    padding-left: 5%;
    padding-right: 18%;
  }

  .services__button {
    margin-right: 5%;
  }

  .services__button-no-margin {
    margin-right: 0;
  }

  .services__item {
    width: 280px;
    margin-bottom: 13%;
    padding-bottom: 2%;
  }

  .services__img {
    width: 100%;
    height: 350px;
  }

  .services__text {
    margin: 4% auto;
    width: 70%;
  }

  .prices__container {
    padding-top: 5%;
    padding-bottom: 13.5%;
  }

  .prices__title {
    padding-left: 4%;
    padding-top: 1%;
    line-height: 42px;
  }

  .prices__form {
    margin-top: 17%;
    width: 100%;
    padding: 9.5% 12% 9% 12%;
  }

  .prices__label {
    padding: 5.5% 0% 5.5% 16%;
  }

  .prices__contact {
    padding-bottom: 29%;
  }

  .prices__title-contact {
    font-size: 25px;
    line-height: 35px;
  }

  .prices__contact {
    width: 44.5%;
  }

  .prices__title-contact {
    padding-top: 35%;
  }

  .prices__button {
    margin-top: 10%;
    padding: 3% 9%;
  }

  .contacts__container {
    padding-top: 5%;

  }

  .contacts {
    padding-bottom: 72%;
    background-size: 200px 248px;
    background-position-x: 52.5%;
    background-position-y: 100%;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 52px;
  }

  .contacts__form {
    margin-top: 15%;
    text-align: center;
    padding-left: 16%;
    padding-right: 16%;
  }

  .contacts__label {
    display: block;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    text-align: left;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
  }

  .footer__data {
    width: 25%;
  }

  .footer__list {
    width: 28%;
    padding-top: 1%;
  }
}

@media screen and (max-width:380px) {
  .logo {
    margin-top: 5%;
  }

  .nav {
    display: none;
  }

  .welcome {
    padding-top: 13%;
    padding-bottom: 7%;
    background: none;
  }

  .welcome__title {
    width: 100%;
    font-size: 25px;
    line-height: 35px;
  }

  .welcome__text {
    width: 100%;
    margin-top: 6%;
    font-size: 16px;
    line-height: 25px;
  }

  .welcome__button {
    margin-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    font-size: 10px;
    line-height: 20px;
  }

  .about {
    padding-top: 10%;
    padding-bottom: 54%;
    background-size: 150px 147px;
    background-position-y: 340px;
  }

  .about__title {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    line-height: 32px;
  }

  .about__text {
    margin-top: 4.5%;
    font-size: 15px;
    line-height: 25px;
  }

  .services__container {
    padding-top: 8.5%;
    padding-bottom: 0;
  }

  .services__title {
    font-size: 25px;
    line-height: 32px;
  }

  .services__button {
    width: 36%;
    margin-top: 12%;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    line-height: 20px;
  }

  .services__button-no-margin {
    margin-top: 3%;
  }

  .services__list {
    width: 85%;
    margin: 0 auto;
    margin-top: 12%;
  }

  .services__item-last{
    margin-bottom: 8.5%;
  }

  .prices__container {
    padding-bottom: 10.5%;
  }

  .prices {
    flex-direction: column;
  }

  .prices__block {
    width: 100%;
    padding-top: 2%;
    padding-left: 16%;
    padding-right: 16%;
  }

  .prices__title {
    padding: 0;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .prices__form {
    padding: 10.5% 10% 9% 10%;
  }

  .prices__label {
    margin-bottom: 8%;
    padding: 10.5% 8% 8% 16%;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }

  .prices__contact {
    width: 100%;
    padding-bottom: 0;
  }

  .prices__title-contact {
    width: 72%;
    margin: 0 auto;
    padding-top: 6%;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }

  .prices__button {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 6%;
    padding: 2% 6%;
    font-size: 15px;
    line-height: 19px;
  }

  .contacts__container {
    padding-top: 7%;
  }

  .contacts {
    background-size: 100px 125px;
    background-position-x: 49.5%;
  }

  .contacts__title {
    font-size: 25px;
    line-height: 32px;
  }

  .contacts__form {
    margin-top: 24%;
    padding-left: 4%;
    padding-right: 5%;
  }

  .contacts__label {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #D6E7D2;
  }

  .contacts__label::after {
    top: 17px;
    right: 23px;
  }

  .footer__container {
    padding-top: 3%;
  }

  .footer__title {
    line-height: 30px;
  }

  .footer__data {
    width: 53%;
  }

  .footer__list {
    width: 58%;
    padding-top: 2%;
  }
}

