html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  /* font-family: 'Inika', serif; */
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
  background-color: #EDF2EC;
}

.header__container {
  display: flex;
  justify-content: space-between;
  /* background-color: #EDF2EC; */
}

.logo {
  margin: 0;
  padding-top: 52px;
  padding-bottom: 55px;
}

.logo__link {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: #000000;
}

.logo__caption {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.nav {
  margin: 0;
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  padding: 0 0 0 46px;
  color: #010201;
}

.nav__item:first-child {
  padding-left: 0px;
}

.nav__link {
  display: block;
  /* margin-right: 46px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  color: #010201;
}

.nav__link:hover {
  color: #E06733;
}

.nav__link-active {
  font-weight: 700;
  color: #E06733;
}

.main {
  flex: 1 1 auto;
  /* background-color: navajowhite; */
}

.welcome {
  padding-top: 110px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: url(../img/leafs_5pcs.png) no-repeat left center;
}

.welcome__title {
  margin: 0;
  padding: 0;
  width: 48%;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #717171;
}

.welcome__title-red {
  color: #499A18;
}

.welcome__text {
  margin: 0;
  margin-top: 42px;
  width: 48%;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.button {
  padding: 14px 27px;
  border: 2px solid #E06733;
  border-radius: 10px;
  cursor: pointer;
}

.welcome__button {
  margin-top: 48px;
  margin-right: 400px;
  text-transform: uppercase;
}

.container-white {
  background-color: #ffffff;
}

.about {
  padding-top: 161px;
  padding-bottom: 155px;
  background-color: #ffffff;
  background-image: url(../img/houseplant1.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.section-title {
  margin: 0;
  font-family: 'Inika', serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #E06733;
}

.about__title {
  width: 41%;
}

.about__text {
  width: 53%;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.services__container {
  padding-top: 40px;
  padding-bottom: 100px;
}

.services__title {
  display: inline-block;
  margin-right: 140px;
  width: 25%;
}

.services__button {
  margin-right: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: #E06733;
}

.services__button-no-margin {
  margin-right: 0;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
}

.services__item {
  display: block;
  margin-bottom: 55px;
  padding-bottom: 36px;
  /* width: 23%; */
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 20px 20px;
}

.services__item:hover,
.services__item:focus {
  border: 1px solid #E06733;
}

.services__figure {
  margin: 0;
  padding: 0;
}

.services__caption {
  margin-top: 10px;
  /* width: 100%; */
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #E06733;
}

.services__text {
  margin: 0;
  margin-top: 10px;
  /* width: 100%; */
  text-align: center;
  color: #717171;
}

.prices__container {
  padding-top: 40px;
  padding-bottom: 115px;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.prices__block {
  width: 50%;
}

.contact__block {
  width: 50%;
}

.prices__title {
  font-weight: 700;
  line-height: 48px;
  color: #000000;
}

.prices__form {
  display: flex;
  flex-direction: column;
  padding: 34px 41px;
  width: 71%;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.prices__label {
  position: relative;
  margin-bottom: 32px;
  padding: 16px 110px 16px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  background-color: #EDF2EC;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
}

.prices__label::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/arrow_down.svg);
  top: 17px;
  right: 40px;
}

.prices__label:last-child {
  margin-bottom: 0;
}

.prices__input {
  display: none;
}

.prices__contact {
  background: url(../img/leafs_4pcs.png) right/ 120px no-repeat;
  background-position-y: 230px;
}

.prices__title-contact {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.prices__title-red {
  color: #499A18;
}

.prices__button {
  margin-top: 38px;
  float: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;
  color: #E06733;
}

.contacts__container {
  padding-top: 40px;
}

.contacts {
  padding-top: 25px;
  min-height: 550px;
  background: url(../img/contact_woman1.png) left/ contain no-repeat;
}

.contacts__title {
  text-align: center;
  font-weight: 700;
  color: #499A18;
}

.contacts__form {
  margin-top: 37px;
  text-align: right;
}

.contacts__label {
  position: relative;
  padding: 13px 393px 13px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  background-color: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #717171;
  cursor: pointer;
}

.contacts__label::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/arrow_down.svg);
  top: 17px;
  right: 35px;
}

.contacts__input {
  display: none;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.footer__data {
  order: 1;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.footer__copy,
.footer__year {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

.footer__link-git {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  color: #000000;
}

.footer__title {
  order: 2;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  
}

.footer__list {
  order: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 180px;
  list-style: none;
}

.footer__link {
  display: block;
  width: 32px;
  height: 32px;
}

.footer__link-inst {
  background: url(../img/svg/instagram.svg) no-repeat;
}

.footer__link-face {
  background: url(../img/svg/facebook.svg) no-repeat;
}

.footer__link-twi {
  background: url(../img/svg/twitter.svg) no-repeat;
}

.footer__link-pint {
  background: url(../img/svg/pinterest.svg) no-repeat;
}